@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-image: url("../public/img/background.png");
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

body::-webkit-scrollbar {
  display: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
  row-gap: 16px;
}

.headerTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.headerDescription {
  font-size: 14px;
  line-height: 20px;

  color: #CAC4D0;
  mix-blend-mode: normal;
}

.ingredients {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 27px;
  row-gap: 16px;
  margin-bottom: 28px;
  position: relative;
  left: 910px;
  top: 75px;
  font-weight: 900;
}

.ingredientsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredientName {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
}

.ingredientImage {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  background: #ED5E28;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.ingredientsLabel {
  font-size: 20px;
  line-height: 24px;
}

.coffeeCard {
  position: relative;
  left: 1200px;
  top: 50px;
  width: 360px;

  background: linear-gradient(0deg, rgba(208, 188, 255, 0.05), rgba(208, 188, 255, 0.05)), #1C1B1F;
  color: #ffffff;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  
}

.coffeeImg {
  border-radius: 12px 12px 0 0;
  width: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin: 16px;
}

.coffeeName {
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.5px;
}

.coffeeDescription {
  font-size: 14px;
  line-height: 20px;

  letter-spacing: 0.25px;

  color: #CAC4D0;
}

.checkbox {
  width: 18px;
  height: 18px;
  accent-color: #ffffff;
  background-color: #000000;
  color: #ffffff;
  border-radius: 2px;
}


